.Techimages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.25rem 0 .25rem;
}

.Techimages .image {
    height: 85px;
    width: 85px;
}

.Techimages .image img {
    object-fit: cover;
}
.Techimages .image img:nth-child(0) {
    height: 70px;
    width: 70px;
    position: relative;
    top: 10px
}

@media only screen and (max-width: 1355px) {
    .Techimages .image {
        margin-top: .5rem;
    }
}
