* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


.App {
  height: fit-content;
  text-align: center;

}

.App-header {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  color: white;
}

h1 {
  font-size:1.75rem
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem
}

a {
  text-decoration: none;
  color: black;
}

.section_1 {
  height: fit-content;
  width: 80%;
  margin: 0 auto;
  color: black;
  
}

.section_1 nav {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;

}

.section_1 nav img {
  position: absolute;
  width: 5%;
  height: auto;
  float: left;
  margin: 0;
  padding-left: 0rem;
}

.section_1 nav h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  
  /* border-bottom: 2px solid black */
  
}
.about_me {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem 2rem;
  border-bottom: 2px solid rgba(108, 122, 137, 1);
  border-top: 2px solid rgba(108, 122, 137, 1);

}

.about_me .credentials {
  text-align: start;
  padding: 1rem 2rem 1rem .5rem;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid rgba(108, 122, 137, 1);
}

.credentials p {
  margin: .8rem 0;
  font-size: 1.05rem;
  
}
#social p:nth-child(2) {
  display: inline-block;
  margin-right: 13rem;
  margin: 0;

}

#social p:nth-child(4) {
  display: inline-block;
  margin-right: 12.1rem;
}

.gitHover p {
  font-size: 1.18rem;
  margin: 0;
  position: relative;
  top:2.5px
}

.gitHover {
  
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 15% 15% 0;

  margin-bottom:.5rem;
}

.gitHover:hover {
  background-color: rgba(0,0,0,.05);
  transition: .4s
 }

.credentials .git {
 
  height: 1.6rem;
  width: 1.6rem;
}


.linkedinHover {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.linkedinHover:hover {
  background-color: rgba(0,0,0,0.05);
  transition: .4s;
}

.linkedinHover p {
  margin: 0;
  font-size:1.15rem;
  position: relative;
  top:1.5px
}

.credentials .linkdin {
  height: 1.6rem;
  width: 1.9rem;
  position: relative;
  left: 4px;
  
}

.credentials p:nth-child(2) {
  margin-top: .2rem
}

.about_me .credentials #personal, #social, #experience, #education {
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(108, 122, 137, 1);
  padding-bottom: 1.6rem;
  

}
.about_me .credentials #education {
  border-bottom: none;
}

.about_me .technical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin:0 auto;
  padding: 0rem 2rem 1rem;
}

.about_me .technical .summary {
  height: 50%;
  width: 100%;
  text-align: left;
  padding-bottom: 1rem;
}
.about_me .technical .summary p {
  font-size: 1.05rem;
  line-height: 1.75rem;
}

.about_me .technical .summary h2 {
  margin: .5rem 0;
}


.about_me .technical .summary img {
  height: 18rem;
  width: 20rem;
  float: right;
  margin-left: 4rem;

}

.about_me .technical .skills {
  text-align: left;
  height: 50%;
  width: 100%;
  background-color: rgba(0,0,0,.05);
  padding: .25rem 1rem 1rem 1rem;
}

.about_me .technical .skills h2 {
  margin: .75rem 0
}

/* .about_me .technical .skills .progress {
  width: 75%;
  height: 4rem;
  margin: 0 auto;
  text-align: center;

} */

.about_me .technical .skills .tech {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about_me .technical .skills .tech div {
height: fit-content;
width: 50%;
 
}

.project_header {
  color: black;
  margin-bottom: 1.5rem;
}

.section_2 {
  height: fit-content;
  width: 80%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 1rem 3.5rem;
  margin: 0 auto 1rem;
  border-top: 2px solid rgba(108, 122, 137, 1);

}

 .section_2 .projBox {
  width: 18rem;
  height: 24rem;
  box-shadow: .5px 1px 2px black;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

}

.projBox img {
  overflow: hidden;
  object-fit: cover;
  height: 90%;
  width: 100%;
}

.projBox .description {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.05);
  padding: .5rem 0 0;

}

.projBox .description h4 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.description ul {
  height:100%;
  width: 100%;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .6rem 0 0;
}

.description li {
  color: black;
  border-bottom: 1px solid rgba(108, 122, 137, 1);
  border-width: thin;
  padding-left: 1rem;
  text-align: left;
  padding-bottom:1rem
}

footer {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 0 0 .5rem;
  color:black;
  z-index: 100;
  text-align: start;
}


@media only screen and (max-width: 1350px)
{
  .section_1 {
    flex-direction: column;
  }
  .about_me {
    flex-direction: column;
  }

  .about_me .credentials {
    flex-direction: row;
    width: 100%;
    border-right: none;
  }

  .about_me .credentials #personal, #social, #experience, #education {
    border-bottom: none;
  }
}

@media only screen and (max-width: 1115px)
{
  .section_1 {
    width: 100%;

  }
  .about_me {
    padding-bottom: 0rem;
  }
  .about_me .credentials {
    flex-direction: column;
    padding: 0;
    padding: 1rem;
  } 
  .about_me .credentials #personal, #social, #experience, #education {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: .85rem;
  }
  .about_me .technical {
    width: 100%;
    padding: 0rem;
    border-top: 2px solid rgba(108, 122, 137, 1);
    
  }

  .about_me .technical h2 {
    border-bottom: 2px solid rgba(108, 122, 137, 1);
    text-align: center;
    margin: 0;
    padding: 1.5rem 1rem 1.5rem;
  }

  .about_me .technical .summary h2 {
    border-bottom: 2px solid rgba(108, 122, 137, 1);
    text-align: center;
    margin: 0;
    padding: 1.5rem 1rem 1.5rem;
  }

  .about_me .technical .skills h2 {
    margin: 0 1rem 1rem;
  }

  .about_me .credentials div {
    margin: 0;
  }

  #social div {
    margin-bottom: .75rem;
    
  }

  .about_me .technical .summary {
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0 1rem 1rem;
  }
 

  .about_me .technical .summary img {
    width: 100%;
    height: 20rem;
    float: none;
    display: block;
    margin: 1.2rem 0

  }
  

  .about_me .technical .summary p {
    width: 100%;
    margin: 0;
    display: block;
    margin: 1rem 0;
  }

  .skills div p {
    line-height: 1.65rem;
    margin: 0 0 .3rem;
  }
  .about_me .technical .skills {
    border-top: 2px solid rgba(108, 122, 137, 1);
    padding: 0 1rem 2rem
    
  }
  
  .about_me .technical .skills .tech {
    margin: 2.5rem 0 .5rem;
    flex-wrap: wrap;
  }

  .about_me .technical .skills .tech div {
    padding: 0 1rem;
  }
}



